:root
{

--Verydarkblue: hsl(233, 47%, 7%);
--Darkdesaturatedblue: hsl(244, 38%, 16%);
--Softviolet: hsl(277, 64%, 61%);

--White: hsl(0, 0%, 100%);
--Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
--Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);

--fuente1: 'EB Garamond', serif;
--fuente2:  'Lexend Deca', sans-serif;

}
/* Global elements */

html {
    box-sizing: border-box;
    background-color: var(--Verydarkblue);
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body 
{
  
    font-size: 15px;
}

h1
{
  font-family: var(--fuente2);
  font-weight: 700;
  color: var(--White)
}
span
{
  color: var(--Softviolet);
}

p
{
  font-family: var(--fuente2);
  font-weight: 100;
  color: var(--Slightlytransparentwhite);
  line-height: 2.5rem;
}

img 
{
 display: block;
  width: 100%;
  height: auto;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
  @media (max-width:375px) { 
img 
{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0;

}
      
  }


/* Contenedor */


.contenedor 
{
    max-width: 100rem;
    margin: 20rem auto;
}
@media (max-width: 375px) { 
  .contenedor{
    margin: 20rem 1.5rem;

  }
    
}


/* Media queryes */
.servicio 
{
  display: grid;
  align-items: center;
  gap: 2rem;
  background-color: var(--Darkdesaturatedblue);
}
.servicio
{
  border-radius: 1rem;
}

.servicio-info
{
  grid-row: 2/3;
  margin: 0 1.5rem;
  text-align: center;
  
}


@media (min-width: 375px) { 
  .servicio 
  {
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
  } 

  /* //Aca se puede aplicar inherit o auto */
  .servicio-info
  {
   grid-row: inherit; 
   text-align:left;

   margin: 0rem 7rem 2rem 6rem;
  }

  .servicio-numeros
  {
    display: flex;
    justify-content:flex-start;
    gap: 5rem;
    font-weight: bold;
    
  }


}

/* Color a la imagen */

.numeros
{
  color: var(--White);
  font-size: 25px;
  text-transform: uppercase;
}
.servicio__palabras
{
  color: var(--Slightlytransparentwhite);
  font-size: 15px;
  text-transform: uppercase;
}

/* Servicios */


.servicio-img 
{
  position: relative;
 
  overflow: hidden;
}



.servicio-overlay
{
  position: absolute;
  background: #801da5;
  background: linear-gradient(90deg, hwb(284 2% 51% / 0.535) 100%, rgba(29,0,255,1) 100%);
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 375px) { 
    .servicio-overlay {
      border-bottom-left-radius: 0 ;
      border-top-left-radius: 0;
    
    }
}


  
